<div class="dialog">
  <h1>The page you were looking for doesn't exist.</h1>
  <p>You may have mistyped the address or the page may have moved.</p>
	<h2>Here are the most common resources</h2>
	<ul>
		<li><%= link_to "Publications", publications_url() %></li>
		<li><%= link_to "Downloads", page_url(:id => :downloads) %></li>
	</ul>
</div>